@use 'variables' as *;

.btn-ktm {
  padding: 10px 30px;
  font-size: 1rem;
  background: $color-naranja-claro;
  color: $color-texto-claro;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-ktm:hover {
  background-color: #cc5200;
  transform: scale(1.05);
}
