@use 'variables' as *;
@use 'mixins' as *;
.index-header {
  background-color: $color-naranja-ktm;
}

.index-header-flex {
  @include flex-between;
  padding: 10px 30px;
  background-color: $color-naranja-ktm;
  flex-wrap: wrap;
}

.logotipo {
  width: 5rem;
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: $color-texto-claro;
  font-weight: bold;
  padding: 8px 12px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #cc5200;
    border-radius: 4px;
  }
}
