$color-naranja-ktm: #ff6200;
$color-naranja-claro: #ff6600;
$color-rojo-fondo: #eeeeee;
$color-texto-claro: #ffffff;
$color-texto-oscuro: #1b0505;
$gris-claro: #f5f5f5;

$font-primary: 'Poppins', sans-serif;
